* {
    box-sizing: border-box;
}


body,
html {
    height: 100%;
    // overflow: hidden;
    // overflow-y: auto;

}

body {
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", sans-serif;
}

// Preliminary background until day-mode / night-mode class is added by Javascript.
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: white;
    }
}

body.day-mode {
    background-color: white;
    color: black;
}

body.night-mode {
    background-color: #222;
    color: white;
}


h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: 400;
    padding: 0;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: gray;
    font-size: 15pt;
    border-top: 2px solid #585858;
    padding: 20px 0;
    display: block;
    a {
        color: #4183c4;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

footer::after {
    content: " ";
    display: table;
    width: 1px;
    height: 20px;
}

.footer-table {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.footer-name {
    float: left;
    width: 50%;
}

.footer-socials {
    float: left;
    width: 50%;
}

.socials-list {
    display: block;
    margin-left: 0;
    list-style: none;
    margin-left: 0;
    li {
        display: list-item;
        text-align: left;
    }
}