{% extends "base.html" %}

{% block scripts %}
<!-- CSS -->
<link rel="stylesheet" href="../../font-opensans.css" />
<link rel="stylesheet" href="../../font-fira.css" />
<link rel="stylesheet" href="../../main.css" />

<!-- Syntax highlighting -->
<script type="text/javascript" src="../../prism.js"></script>
{% endblock scripts %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}
{% endblock content %}