{% extends "base.html" %}

{% block scripts %}
<!-- CSS -->
<link rel="stylesheet" href="../font-opensans.css" />
<link rel="stylesheet" href="../font-fira.css" />
<link rel="stylesheet" href="../main.css" />

<!-- Syntax highlighting -->
<script type="text/javascript" src="../prism.js"></script>
{% endblock scripts %}

{% block content %}
<h1 class="title" style="padding-top: 30px; margin-bottom: 20px;">
    {{ section.title }}
</h1>
<ul>
    {% for page in section.pages %}
    <li style="list-style: none; margin-bottom: 30px;">
        <span>{{ page.date }}</span>
        <h2 style="margin: 0;">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h2>
    </li>
    {% endfor %}
</ul>
{% endblock content %}